# Compiled object files
*.o

# Compiled executable files
*.exe
*.out

# Compiled shared libraries
*.so
*.dll
*.dylib

# CMake build directory
build/

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Xcode files
*.xcodeproj
*.xcworkspace

# Code::Blocks files
*.cbp
*.depend

# Eclipse files
.cproject
.project

# Qt Creator files
*.pro.user
*.qbs.user
*.autosave

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# Vim swap files
*.swp

# macOS-specific files
.DS_Store

# Compiled class files (for Java)
*.class

# Built JAR files (for Java)
*.jar

# Compiled Java source (for Java)
*.java~

# IntelliJ IDEA files (for Java)
.idea/

# Maven files (for Java)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle files (for Java)
build/
.gradle/
!.gradle/*.properties

# Log files
*.log

# macOS-specific files
.DS_Store
